.container {
  text-align: center;
}

.image-container {
  display: flex;
  flex-direction: column;

  align-items: center;
  margin-top: 40px;
}

.share-buttons {
  margin-top: 20px;
  display: flex;
  font-weight: bolder;
  font-size: medium;
  color: blueviolet;
  flex-direction: column;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  align-items: center;
}
@media (max-width: 768px) {
  .image-container {
    margin-top: 10px;
  }
}